{% extends 'blog/base.html' %}
{% block content %}
<div class="row m-4">
    <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-2">{{object.title}}</h2>
        <p class="blog-post-meta">{{object.date_create}}</p>
        <p>{{ object.body }}</p>
    </article>
    {% if object.is_published %}
    <a href="{% url 'blog:pub' object.pk %}">
        Снять с публикации</a>
    {% else %}
    <a href="{% url 'blog:pub' object.pk %}">
        Опубликовать</a>
    {% endif %}
    <div class="card-footer">Просмотров: {{object.count_view}}
    </div>
</div>
{% endblock %}